/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    position: fixed;
    /* height: 10vh; */
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
}

.nav_content{
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: .3s;
}

/* .logo img {
    height: 40px;
 }
 
 .logo:hover {
     cursor: pointer;
 } */

nav .logo a:hover{
    color: var(--primary-color-dark);
}

nav.checkbox{
    display: none;
}

nav input{
    display: none;
}

nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover{
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}



.section{
    background-color: var(--extra-light);
}

.section_container{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}

.title{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span{
    font-weight: 600;
}

.descriptions{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

.image{
    display: grid;
    place-items: center;
}

.image img{
    width: min(25rem, 90%);
    border-radius: 100%;
}

@media (width < 750px) {
    nav .checkbox{
        display: block;
    }

    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
       left: -100%;
       top: 85px;
       background-color: var(--extra-light);
       flex-direction: column;
       justify-content: center;
       gap: 3rem;
    }
    
    nav #check:checked ~ ul{
        left: 0;
    }
    
    ul li a {
        font-size: 1.25rem;
    }

    .section-container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image{
        grid-area: 1/1/2/2;
    }
}







body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

#profile {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.profile_text {
    flex: 1 1 60%;
    padding: 30px;
    box-sizing: border-box;
}

.profile_pix_container {
    flex: 1 1 40%;
    position: relative;
    overflow: hidden;
}

.profile_title {
    font-size: 1.5em;
    font-weight: bold;
}

.profession {
    color: #3498db;
}

.profile_text_bio {
    margin-top: 20px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider img {
    max-width: 100%;
    height: auto;
}

.slider_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.prev_btn {
    left: 0;
}

.next_btn {
    right: 0;
}

.slider_btn:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    .profile_text,
    .profile_pix_container {
        flex: 1 1 100%;
    }

    .profile_pix_container {
        order: -1; /* Change the order to -1 to make it appear above profile_text */
        margin-top: -30px; /* Adjust the margin to control the spacing between profile_text and profile_pix_container */
    }
}


















#profile {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.profile_text {
    flex: 1 1 60%;
    padding: 30px;
    box-sizing: border-box;
}

.profile_pix_container {
    flex: 1 1 40%;
    position: relative;
    overflow: hidden;
}

.profile_title {
    font-size: 1.5em;
    font-weight: bold;
}

.profession {
    color: #3498db;
}

.profile_text_bio {
    margin-top: 20px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider img {
    max-width: 100%;
    height: auto;
}

.slider_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.prev_btn {
    left: 0;
}

.next_btn {
    right: 0;
}

.slider_btn:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    .profile_text,
    .profile_pix_container {
        flex: 1 1 100%;
    }

    .profile_pix_container {
        order: -1; /* Change the order to -1 to make it appear above profile_text */
        margin-top: -30px; /* Adjust the margin to control the spacing between profile_text and profile_pix_container */
    }
}
















#profile {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    /* margin: 50px auto; */
    /* background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; */
    overflow: hidden;
}

.profile_text p, .profile_text_bio{
    font-weight: 300;
}

.profile_text {
    flex: 1 1 55%;
    align-self: center;
    text-align: center;
    padding: 30px .1rem;
    /* box-sizing: border-box; */
}

.profile_pix_container {
    flex: 1 1 45%;
    position: relative;
    overflow: hidden;
}

.profile_text_greeting{
    text-align: center;
    /* font-weight: lighter; */
    font-size: 1.75rem;
    margin-bottom: 0.2rem;
}

.profile_text_greeting:hover{
    color : rgba( 189 , 98 , 97 , 0.9 );
    opacity: 0.7;
}

.profile_title {
    font-size: 2.8rem;
    /* font-weight: 500; */
    text-align: center;
    /* margin: 10px 0; */
}

.profession {
    color: rgb(226, 226, 226);
}

.profile_text_bio {
    margin: 20px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

.slider_btn {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    opacity: .3;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.prev_btn {
    left: 0;
}

.next_btn {
    right: 0;
}

.slider_btn:hover {
    background-color: rgba( 189 , 98 , 97 , 0.9 );
}

@media (max-width: 768px) {
    .profile_text,
    .profile_pix_container {
        flex: 1 1 100%;
        font-size: 1rem;
    }

    .profile_pix_container {
        order: -1; 
        margin-top: 0; 
    }
}

/* @media (max-width: 768px) {
    #profile {
        flex-direction: column;
    }

    .profile_pix_container {
        flex: 1 1 100%;
        order: -1;
        margin-top: 0; /* Remove the negative margin */
    }
} */